<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iNetBankingV2">


<listeners>
<listener class-name="com.iNetBankingV2.Utilities.Reporting"/>
</listeners>
  <test  name="loginTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
     <!--  <class name="com.iNetBankingV2.TestCases.TC_LoginTest_001"/>   --> 
         <class name="com.iNetBankingV2.TestCases.TC_LoginDDT_002"/>
      
      
    </classes>
  </test> <!-- Test --> 
  
    
</suite> <!-- Suite -->